  /* My code */

  .lb-data .lb-caption
  {
    font-size: 30px; 
  }

.lb-data .lb-number 
{ 
    font-size: 20px;
  }
  
.lb-nav a.lb-prev {
    background-image: url("../dist/images/new_prev.png");
}

.lb-nav a.lb-next {
    background-image: url("../dist/images/new_next.png");
}

